## Basic data filtering and columns normalization

In [1]:
import pandas as pd
import re
import warnings
import numpy as np
from sqlalchemy import create_engine

warnings.filterwarnings("ignore")
dataset = pd.read_csv('C:\\Users\\VideoMachine\\IH-labs\\Fire-Project\\NEW_DATA\\2013-2022 fires.csv', delimiter = ';')

In [2]:
# # defining the columns to use in the dataset
columns_data = ['LAT', 'LON','ANO','TIPO','DISTRITO','CONCELHO','FREGUESIA','DATAALERTA','DATAEXTINCAO','DURACAO',
            'AREAPOV','AREAMATO','AREAAGRIC','AREATOTAL','REACENDIMENTOS', 'HAHORA',  
            'QUEIMADA','FALSOALARME','FOGACHO','INCENDIO','AGRICOLA','TIPOCAUSA', 'HUMIDADERELATIVA','VENTOINTENSIDADE','PRECEPITACAO','FFMC','DMC','DC','ISI','FWI','THC','ALTITUDEMEDIA','DECLIVEMEDIO','DENDIDADERV','COSN5VARIEDADE']  

dataset = dataset[columns_data]

### Calculating the column 'duracao', wich is the duration of the fire, using the formula End date/time - alarm date/time. Later this column will be called duration

In [3]:
dataset['DURACAO'] = dataset['AREATOTAL']/dataset['HAHORA']

In [4]:
dataset.head()

,LAT,LON,ANO,TIPO,DISTRITO,CONCELHO,FREGUESIA,DATAALERTA,DATAEXTINCAO,DURACAO,...,FFMC,DMC,DC,ISI,FWI,THC,ALTITUDEMEDIA,DECLIVEMEDIO,DENDIDADERV,COSN5VARIEDADE
0,40.330172,-8.222549,2013,Florestal,Coimbra,Penacova,Oliveira do Mondego,03/01/2013,03/01/2013,0.583333,...,76.300003,2.2,35.200001,1.7,0.7,26.773500,99.8913,17.5053,120.767,22.49
1,40.127576,-8.153059,2013,Florestal,Coimbra,Góis,Góis,04/01/2013,05/01/2013,1.733333,...,85.400002,2.9,47.400002,3.7,2.6,15.847600,597.4790,49.9571,183.455,21.73
2,40.236057,-7.794691,2013,Florestal,Coimbra,Arganil,Piódão,04/01/2013,04/01/2013,1.350000,...,81.099998,1.7,25.000000,5.3,3.2,20.834101,748.7660,50.4426,224.046,11.95
3,39.896117,-8.162342,2013,Florestal,Leiria,Pedrógão Grande,Pedrógão Grande,04/01/2013,04/01/2013,0.666667,...,81.099998,1.7,25.000000,5.3,3.2,20.834101,343.0810,10.0806,138.011,18.89
4,39.549428,-8.768329,2013,Agrícola,Leiria,Porto de Mós,Alvados,04/01/2013,04/01/2013,3.133333,...,85.800003,4.0,40.200001,4.8,4.1,15.398800,264.8890,11.7616,261.708,15.32

### Seting the date-time columns to the correct types and checking if any type is not assigned correctly.

In [5]:
dataset['DATAALERTA'] = pd.to_datetime(dataset['DATAALERTA'])
dataset['DATAEXTINCAO'] = pd.to_datetime(dataset['DATAEXTINCAO'])    
    
display(dataset.dtypes)
display(dataset.tail(2))
display(dataset.shape)

LAT                        float64
LON                        float64
ANO                          int64
TIPO                        object
DISTRITO                    object
CONCELHO                    object
FREGUESIA                   object
DATAALERTA          datetime64[ns]
DATAEXTINCAO        datetime64[ns]
DURACAO                    float64
AREAPOV                    float64
AREAMATO                   float64
AREAAGRIC                  float64
AREATOTAL                  float64
REACENDIMENTOS               int64
HAHORA                     float64
QUEIMADA                     int64
FALSOALARME                  int64
FOGACHO                      int64
INCENDIO                     int64
AGRICOLA                     int64
TIPOCAUSA                   object
HUMIDADERELATIVA           float64
VENTOINTENSIDADE           float64
PRECEPITACAO               float64
FFMC                       float64
DMC                        float64
DC                         float64
ISI                        float64
FWI                        float64
THC                        float64
ALTITUDEMEDIA              float64
DECLIVEMEDIO               float64
DENDIDADERV                float64
COSN5VARIEDADE             float64
dtype: object

,LAT,LON,ANO,TIPO,DISTRITO,CONCELHO,FREGUESIA,DATAALERTA,DATAEXTINCAO,DURACAO,...,FFMC,DMC,DC,ISI,FWI,THC,ALTITUDEMEDIA,DECLIVEMEDIO,DENDIDADERV,COSN5VARIEDADE
143129,40.606723,-7.912,2022,Florestal,Viseu,Viseu,São João de Lourosa,2022-09-27,2022-09-27,1.0,...,88.800003,31.4,282.899994,5.95,15.04,NaN,281.028,23.07780,129.978,23.94
143130,40.610271,-7.914,2022,Florestal,Viseu,Viseu,São João de Lourosa,2022-09-27,2022-09-27,NaN,...,88.800003,31.4,282.899994,5.95,15.04,NaN,434.063,6.41842,242.372,18.62

(143131, 35)

In [6]:
final_dataset = dataset[~dataset['DURACAO'].isna()]

In [7]:
final_dataset.columns = ['lat', 'lon','year','type','district','county','parish','alert_date','extinction_date','duration',
    'area_populated','area_bush','area_agricultural','area_total','reignition', 'hour_ha', 'burned','false_alarm','spark',
    'fire','agricultural','type_cause', 'relative_humidity','wind_intensity', 'precipitation', 'ffmc', 'dmc', 'dc', 'isi', 
    'fwi','thc', 'avg_altitude', 'avg_inclination', 'rvdendity','cosn5variety']

In [8]:
final_dataset.head()

,lat,lon,year,type,district,county,parish,alert_date,extinction_date,duration,...,ffmc,dmc,dc,isi,fwi,thc,avg_altitude,avg_inclination,rvdendity,cosn5variety
0,40.330172,-8.222549,2013,Florestal,Coimbra,Penacova,Oliveira do Mondego,2013-03-01,2013-03-01,0.583333,...,76.300003,2.2,35.200001,1.7,0.7,26.773500,99.8913,17.5053,120.767,22.49
1,40.127576,-8.153059,2013,Florestal,Coimbra,Góis,Góis,2013-04-01,2013-05-01,1.733333,...,85.400002,2.9,47.400002,3.7,2.6,15.847600,597.4790,49.9571,183.455,21.73
2,40.236057,-7.794691,2013,Florestal,Coimbra,Arganil,Piódão,2013-04-01,2013-04-01,1.350000,...,81.099998,1.7,25.000000,5.3,3.2,20.834101,748.7660,50.4426,224.046,11.95
3,39.896117,-8.162342,2013,Florestal,Leiria,Pedrógão Grande,Pedrógão Grande,2013-04-01,2013-04-01,0.666667,...,81.099998,1.7,25.000000,5.3,3.2,20.834101,343.0810,10.0806,138.011,18.89
4,39.549428,-8.768329,2013,Agrícola,Leiria,Porto de Mós,Alvados,2013-04-01,2013-04-01,3.133333,...,85.800003,4.0,40.200001,4.8,4.1,15.398800,264.8890,11.7616,261.708,15.32

### Making some typing corrections to district, county and parish columns so the data is all unified, and filtering the dataset for the specific district we are going to work in.

In [9]:
for element in ['district', 'county', 'parish']:
    final_dataset[element] = final_dataset[element].str.replace(" Da ",' da ')
    final_dataset[element] = final_dataset[element].str.replace(" De ",' de ')
    final_dataset[element] = final_dataset[element].str.replace(" Do ",' do ')

### Checking for final Nans

In [10]:
# invalid extintion dates have a duration of 1H so the date is equal to the alert_date
final_dataset['extinction_date'][final_dataset['extinction_date'].isnull()] = final_dataset['alert_date']

In [11]:
# I have no option than dropping the column thc and the rows were relative humidity, wind intensity and precipitation are null 
# because for the model i want to build this is essencial info.
final_dataset = final_dataset.dropna(subset=['relative_humidity', 'hour_ha', 'avg_altitude'])
final_dataset = final_dataset.drop(['thc'], axis=1)

In [12]:
final_dataset.isna().sum()

lat                      0
lon                      0
year                     0
type                     0
district                 0
county                   0
parish                   0
alert_date               0
extinction_date          0
duration                 0
area_populated           0
area_bush                0
area_agricultural        0
area_total               0
reignition               0
hour_ha                  0
burned                   0
false_alarm              0
spark                    0
fire                     0
agricultural             0
type_cause           21077
relative_humidity        0
wind_intensity          23
precipitation            0
ffmc                    29
dmc                      0
dc                       0
isi                     29
fwi                      0
avg_altitude             0
avg_inclination          0
rvdendity                0
cosn5variety             0
dtype: int64

In [13]:
# Droping a few more invalid rows
final_dataset = final_dataset[~final_dataset['isi'].isna()]
final_dataset = final_dataset[~final_dataset['wind_intensity'].isna()]

### I will assign every null of type_cause to unknown because they are in fact, unknown and translate every value to an english translated one for better understanding.

In [14]:
final_dataset['type_cause'] = final_dataset['type_cause'].map({np.nan : 'Unknown', "Desconhecida" : 'Unknown', "Negligente" : 'Negligence', "Intencional" : 'Intentional', "Reacendimento" : 'Re-ignition'})

In [15]:
final_dataset['type_cause'].value_counts()

Unknown        57443
Negligence     35028
Intentional    20058
Re-ignition     9185
Name: type_cause, dtype: int64

In [16]:
final_dataset['county'].value_counts()

Paredes       3409
Penafiel      3019
Gondomar      2184
Amarante      2167
Felgueiras    1992
              ...
Golegã          33
Manteigas       22
Mesão frio      19
Barrancos       17
Porto            6
Name: county, Length: 292, dtype: int64

#### The parish's inside brackets are essencially lke north and south of the same place so I will remove all brackets and everything inside them effectivly grouping the fires of this small sub-parish's

In [17]:
words = list(final_dataset['parish'][final_dataset['parish'].str.contains("\(.*?\)")].unique())
file_lst_trimmed = [re.sub(r' \(.*?\)', '', file) for file in words]

final_dataset[final_dataset['parish'].isin(file_lst_trimmed)]
final_dataset['parish'] = [re.sub(r' \(.*?\)', '', file) for file in final_dataset['parish']]

### Adding the CO2 expelled to the atmosphere for each fire

In [18]:
final_dataset['co2_generated'] = (final_dataset['area_populated']*1.28+final_dataset['area_bush']*14+final_dataset['area_agricultural']*1.28)*1.7264

## Exporting the new trimmed and treated dataset to csv and our MySQL database for later access and use

In [19]:
final_dataset.to_csv('Full fires 2013-2022 with weather to model.csv')

In [20]:
import getpass
from sqlalchemy import create_engine

password = getpass.getpass()

In [21]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/fire_db'
engine = create_engine(connection_string)

# Upon writing the SQL querry found 3 more invalid values wich have to be filtered out
final_dataset = final_dataset[final_dataset['duration'] != final_dataset['duration'].max()]

final_dataset.to_sql('fires_clean',con=engine,index=False,if_exists='replace')

122662